/* BARRA BUSCADORA */
.barra-buscadora {
    display: flex;
    margin-bottom: 2rem;
}
.search-container {
    float: left;
}
.search-container input{
    width: 87.7vw;
    padding: 6px;
    margin-top: 8.4px;
    font-size: 17px;
    border: none;
    border-radius: .5rem 0rem 0rem .5rem;
}
@media (min-width :1920px){
    .search-container input {
        width: 90.5vw;
    }
}
.search-container button {
    float: right;
    padding: 7px 10px;
    margin-top: 8px;
    /* margin-right: 16px; */
    color: white;
    background: var(--boton-visualizar);
    font-size: 17px;
    border: none;
    border-radius: 0rem .5rem .5rem 0rem;
    cursor: pointer;
}
.search-container button:hover {
    background: #192b58;
}

/* CONTENIDO PRINCIPAL */
.contenedor {
    min-height: 67vh;
}
/* @media (min-width :1370px){
    .contenedor{
        width: auto;

    }
}

@media (min-width :1670px){
    .contenedor{
        min-height: 58rem;

    }
}
@media (min-width :1370px){
    .contenedor{
        height: 20rem;

    }
} */
.contenedor-botones-main {
    display: flex;
    grid-template-columns: repeat(3,1fr);
}
.contenedor-botones-main .boton{
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 3rem;
    width: 15rem;
    padding: 1.5rem;
}
.acciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.acciones-show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cuadrosServicios {
    display: grid;
    justify-items: center;
}
/* .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
} */

/* .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
} */
