:root{
    --fondo: #145682;
    --blanco: #FFFBFB;
    --contenedor: #E5E5E5;
    --boton: #37A8B0;
    --link: #04A5FF;
    --libre: #32CF00;
    --ocupado: #CF0000;
    --fuera: #F0FF00;
    --limpieza: #008BFF;
    --total: #3B4F56;
    --boton-visualizar: #1E397F;
}
* {
    margin: 0rem;
    padding: 0rem;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
body{
    font-size: 16px;/* 10px= 1 rem*/
    font-family: 'Krub', sans-serif;
}
.contenedor-total{
    max-width: 100%;
    margin:0px auto;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 1.7rem;
}
a{
    color:var(--link);
    text-decoration: none;
}
.boton{
    margin: 1.5rem;
    color:var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--boton);
    border-radius: 10px;
    text-transform: uppercase;
    border:none;
    text-align: center;
    width: 14.7rem;

}
/* INICIO CABECERA */
/* HEADER */

/* SUPERIOR */
.cabecera img{
    width: 14rem;
    height: 14rem;
    border-radius: 2rem;
}
.rectangulo-cabecera{
    background: var(--contenedor);
    margin: 2rem 2rem;
    width: 100%;
    height: 10rem;
    padding: 2rem;
    border-radius: 2rem;
}
.rectangulo-cabecera h1{
    margin: 0%;
    padding: 1rem;
    font-size: 4.8rem;
}
.logo-titulo{
    display: flex;
    margin-bottom: 1.4rem;
}
/* DETALLES */
.icono{
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
}
.cabecera-detalles{
    display: flex;

}
.titulo-usuario{
    display: flex;
}
.titulo-rol{
    display: flex;

}
.cabecera-detalles .rectangulo-cabecera{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5rem;
}
.contenedor-botones {
    display: grid;
    text-align: right;
    justify-content: right;
}
.contenedor-botones .boton{
    margin: 0.5rem;
    width: 13.7rem;
    font-size: 1.5rem;
    margin-top: 0rem;
}

/* NAVEGACION */
/* .nav-bg {
    background: var(--contenedor);
    margin: 2rem 2rem;
    max-width: 100%;
    padding: 0.1rem;
    border-radius: 2rem;
} */


.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.navegacion-principal a {
    text-decoration: none;
    font-weight: 700;
    color:white;

}
.navegacion-principal a:hover {
    color: black;
    background-color: var(--boton);
    transition: all .4s;
}

.navegacion-principal p {
    margin: 1rem;
    font-weight: 400;
    font-size: 2rem;
}
.botones-nav{
    margin-top: 1rem;
}
 /* FIN CABECERA */


/* CONTENIDO DEL HOME*/
.principal {
    /* background: var(--contenedor); */
    margin: 2rem;
    border-radius: 2rem;
    padding: 1.5rem;
}
.principal h2 {
    text-align: center;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.123);
    padding: 2rem;
}
.contenedor-eventos {
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.123);
    padding: 2rem;
}
.contenedor-evento {
    display: block;
    background: var(--contenedor);
    width: 97.5%;
    padding: 1rem;
    margin: auto auto;
    border-radius: 0.3rem;
    margin-top: 2rem;
    padding-right: 0rem;
}
.datos-evento {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: relative;
    padding-right: 0rem;
}
.datos-eventos {
    margin-top: 1rem;
}
.cuadros {
    position: relative;
    background: var(--contenedor);
    width: 20rem;
    height: auto;
    margin-bottom: 2rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.lateral {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 0rem;
}
.lateral-eventos {
    position: absolute;
    top: -3.3rem;
    bottom: 0;
    right: 0;
}

/* COLOR SEGUN ESTADO*/
.estado-libre {
    border-bottom: 1rem solid var(--libre);
}
.estado-ocupada {
    border-bottom: 1rem solid var(--ocupado);
}
.estado-fuera {
    border-bottom: 1rem solid var(--fuera);
}
.estado-limpieza {
    border-bottom: 1rem solid var(--limpieza);
}
.estado-total {
    border-bottom: 1rem solid var(--total);
}

/* MARGENES */
.section {
    margin-top: 2rem;
}
.section h3{
    margin-bottom: 1rem;
}

/* ICONO DE VISUALIZAR*/
.visualizar {
    box-shadow: inset -3.5rem 0 0 var(--boton-visualizar);
}
.visualizar-evento {
    box-shadow: inset -5rem 0 0 var(--boton-visualizar);
}
